*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
body{
  background-color: #000;
  cursor: default;
}
h1{
  font-family: "Inter";
  font-size: 80px;
  color: #fff;
}
h2{
  font-family: "Inter";
  font-size: 32px;
  color: #fff;
}
@media (max-width: 1440px) {
  h1{
    font-size: 60px;
  }
}
@media (max-width: 370px) {
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 20px;
  }
}
@font-face {
  font-family: 'Inter';
  src: url(/public/fonts/Inter.ttf);
}
@font-face {
  font-family: 'KosugiMaru';
  src: url(/public/fonts/KosugiMaru.ttf);
}
